@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
.main {
  background-color: transparent;
  width: 100vw;
  height: auto;
}

.navbar {
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 20px;
  z-index: -1;
}

.navItem {
    width: 25vh;    
    display: flex;
    justify-content: center;
    align-items: center;
  background: linear-gradient(to bottom right, #9096ea, #6165ef); /* Gradient background */
  position: relative;
  list-style: none;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6vw;
  text-transform: uppercase;
  padding: 0.9vw 1.8vw;
  color: white;
  font-weight: 600;

  clip-path: polygon(0 0, 75% 0, 100% 25%, 100% 100%, 25% 100%, 0 75%);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.2s ease; /* Smooth background and color transition */
}

.navItem:hover {
  background: linear-gradient(to bottom right, #373df2, #585ae3); /* Darken the gradient on hover */
  color: #ddd; /* Slightly change text color on hover */
}

@media (max-width: 700px) {
  .navItem {
    font-size: 2.2vw;
  }
}
