/* app/page.module.css */
.container {
  font-family: var(--font-Plus_Jakarta_Sans);
  padding: 20px;
  /* background-color: #000000; */
  /* filter: blur(5px); */
}
.main1 {
  color: #000;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: #000000;
  letter-spacing: 4vw;
  margin-left: 4vw;
  margin-top: 2vh;
}

/* Style for the horizontal line below the title */
.titleLine {
  width: 50%; /* Line is 50% of the screen width */
  margin: 0 auto 40px; /* Center the line horizontally, and add spacing below it */
  border: none; /* Remove default border */
  height: 2px; /* Line height (thickness) */
  background-color: #d1dbff; /* Line color */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

@media only screen and (max-width: 750px) {
  .title {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 1.6rem;
  }
}
