/* app/components/Card.module.css */

/* New card container that holds the gradient border */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.cardContainer {
  background: linear-gradient(
    #121b54,
    #cfd0de,
    #f7f7f9
  ); 
  margin-bottom: 3%;/* Gradient from top (#121b54) to bottom (#f7f7f9) */
  border-radius: 20px; /* Border radius for the container */
  padding: 2px; /* This creates space for the "border" effect */
}

/* The actual card sits inside the container */
.card {
  background-color: white; /* Ensure the card has a white background */
  border-radius: 16px; /* Inner border radius */
  padding: 16px;
  max-width: 300px;
  margin-bottom: 0%;
  position: relative; /* Allow absolute positioning of the button */


  /* Enhanced shadow */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
    /* Soft outer shadow */ 0 4px 6px rgba(0, 0, 0, 0.05),
    /* Slightly sharper inner shadow */ 0 20px 25px rgba(0, 0, 0, 0.1); /* Larger, more diffused shadow */
}

.image {
  max-width: 100%;
  border-radius: 8px;
}

/* Left align text */
.h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 16px;

  text-align: left; /* Align heading to the left */
}

.p {
  margin: 2px 0 20px 0;
  text-align: left; /* Align paragraph (description) to the left */
  font-size: 12px;
  color: #858585;
  line-height: 20px;
}

.price {
  font-weight: 600;
  text-align: left; /* Align price to the left */
  font-size: 20px;
}

.date {
  text-align: left; /* Align date to the left */
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

/* Button positioning and styling */
.buyButton {
  background-color: #eff0fc;
  color: #00004f;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px; /* Make the button's border more rounded */
  position: absolute;
  bottom: 0px; /* Position the button 16px from the bottom of the card */
  right: 0px; /* Position the button 16px from the right of the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-weight: 600;
}

.regbutton {
  clip-path: polygon(0 0, 85% 0, 100% 50%, 100% 100%, 15% 100%, 0 50%);

  background-color:rgba(238, 239, 251, 1);
  color: rgb(0, 45, 100);
  cursor: pointer;
  font-weight: 550;
  font-family: inherit;
  font-size: 1.15rem;
  padding: 3%;
  margin-left: 50%;
  width: 45%;
  transition: background-color 0.3s;
  border-width: 0;
   box-shadow: inset 1px 1px 2px rgba(22, 22, 22, 0.5); 
}
.regbutton:hover {
  background-color: #001769;
  color: #ffffff;
}